.area-select.medium{
  width: 16%;
  display: inline-block;
  user-select: none;
  cursor: pointer;
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  height: 30px !important;
  line-height: 30px !important;
  font-size: 12px;
  padding: 0 13px;
  z-index: 1;
  position: relative;
}
.area-selectable-list-wrap {
  position: absolute;
  width: 100%;
  max-height: 275px;
  z-index: 15000;
  border: 1px solid #dcdfe6;
  border-radius: 2px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 5px 0;
  overflow-x: hidden;
  overflow-x: auto;
  &::-webkit-scrollbar{
    width: 8px;
    height: 6px;
  }
  &::-webkit-scrollbar-track{
    background: #d4d2d2;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb{
    background: #999999;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-corner{
    background: #E6E6E6;
  }
}
.area-select .area-selected-trigger {
  position: relative;
  display: block;
  cursor: pointer;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  height: 100%;
}
.area-select .area-select-icon {
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 6px;
  content: '';
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #a1a4ad;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}
.area-selectable-list {
  position: relative;
  margin: 0;
  padding: 6px 0;
  width: 100%;
  font-size: 14px;
  color: #565656;
  list-style: none;
}
.area-selectable-list .area-select-option {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  cursor: pointer;
  padding: 0 15px 0 10px;
  height: 32px;
  line-height: 32px;
}
