.el-tabs--border-card {
  min-height: 500px;
  border: 1px solid #f3f4f5;
  -webkit-box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.05), 0 0 6px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.05), 0 0 6px 0 rgba(0, 0, 0, 0.04);
}

.el-tabs--border-card>.el-tabs__header{
  border-bottom: 0 !important;
  background-color: #f3f3f4 !important;
}

.el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
  border-right: 0;
  border-left: 0;
  font-weight: bold;
}
.el-tabs--border-card>.el-tabs__header .el-tabs__item{
  color: #666666;
  border: 0;
}
